body {
  font-family: "Oswald", sans-serif;
  margin: 5%;
}

.container {
  /*De la pagina de perro*/
  margin-bottom: 3%;
}

.mainperro {
  color: grey;
}

.subperro {
  color: #8d4004;
}

.mainperro,
.subperro {
  margin: 0;
}

a {
  text-decoration: none;
  color: #8d4004;
}

/*Pagina individual de perro*/

.bodyPerros{

  box-sizing: border-box;
  margin: 0%;
  font-size: small;
}

.container-title{
  float: left;
  width: 100%;
  text-align: center;
  border-bottom-style:outset;
  
}

.container-img{
  float: left;
  width: 40%;
  height: 100%;
  padding-top: 2%;
}

.container-text{
  float: left;
  width: 60%;
  height: 100%;
  padding-top: 2%;
  padding-left: 8%;
}

th{
  font-weight: normal,lighter;
}
